<div class="row mainContent">
	<div class="col-12">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe src="https://player.vimeo.com/video/273112356" width="640" height="360" frameborder="0" allowfullscreen></iframe>
		</div>	
	</div>
	<div class="col mt-3">
		<a name="galleri"></a>

		
		<h1>Galleri.</h1>


		<div id="lightgallery">
			<a href="images/gallery/img0001.jpg"><img src="images/gallery/img0001_thumb.jpg"></a>
			<a href="images/gallery/img0002.jpg"><img src="images/gallery/img0002_thumb.jpg"></a>
			<a href="images/gallery/img0003.jpg"><img src="images/gallery/img0003_thumb.jpg"></a>
			<a href="images/gallery/img0004.jpg"><img src="images/gallery/img0004_thumb.jpg"></a>
			<a href="images/gallery/img0005.jpg"><img src="images/gallery/img0005_thumb.jpg"></a>
			<a href="images/gallery/img0006.jpg"><img src="images/gallery/img0006_thumb.jpg"></a>
			<a href="images/gallery/img0007.jpg"><img src="images/gallery/img0007_thumb.jpg"></a>
			<a href="images/gallery/img0008.jpg"><img src="images/gallery/img0008_thumb.jpg"></a>
			<a href="images/gallery/img0009.jpg"><img src="images/gallery/img0009_thumb.jpg"></a>
			<a href="images/gallery/img0010.jpg"><img src="images/gallery/img0010_thumb.jpg"></a>
			<a href="images/gallery/img0011.jpg"><img src="images/gallery/img0011_thumb.jpg"></a>
			<a href="images/gallery/img0012.jpg"><img src="images/gallery/img0012_thumb.jpg"></a>
			<a href="images/gallery/img0013.jpg"><img src="images/gallery/img0013_thumb.jpg"></a>
			<a href="images/gallery/img0014.jpg"><img src="images/gallery/img0014_thumb.jpg"></a>
			<a href="images/gallery/img0015.jpg"><img src="images/gallery/img0015_thumb.jpg"></a>
			<a href="images/gallery/img0016.jpg"><img src="images/gallery/img0016_thumb.jpg"></a>
			<a href="images/gallery/img0017.jpg"><img src="images/gallery/img0017_thumb.jpg"></a>
			<a href="images/gallery/img0018.jpg"><img src="images/gallery/img0018_thumb.jpg"></a>
			<a href="images/gallery/img0019.jpg"><img src="images/gallery/img0019_thumb.jpg"></a>
			<a href="images/gallery/img0020.jpg"><img src="images/gallery/img0020_thumb.jpg"></a>
			<a href="images/gallery/img0021.jpg"><img src="images/gallery/img0021_thumb.jpg"></a>
			<a href="images/gallery/img0022.jpg"><img src="images/gallery/img0022_thumb.jpg"></a>
			<a href="images/gallery/img0023.jpg"><img src="images/gallery/img0023_thumb.jpg"></a>
			<a href="images/gallery/img0024.jpg"><img src="images/gallery/img0024_thumb.jpg"></a>
			<a href="images/gallery/img0025.jpg"><img src="images/gallery/img0025_thumb.jpg"></a>
			<a href="images/gallery/img0026.jpg"><img src="images/gallery/img0026_thumb.jpg"></a>
			<a href="images/gallery/img0027.jpg"><img src="images/gallery/img0027_thumb.jpg"></a>
			<a href="images/gallery/img0028.jpg"><img src="images/gallery/img0028_thumb.jpg"></a>
			<a href="images/gallery/img0029.jpg"><img src="images/gallery/img0029_thumb.jpg"></a>
			<a href="images/gallery/img0030.jpg"><img src="images/gallery/img0030_thumb.jpg"></a>
			<a href="images/gallery/img0031.jpg"><img src="images/gallery/img0031_thumb.jpg"></a>
			<a href="images/gallery/img0032.jpg"><img src="images/gallery/img0032_thumb.jpg"></a>
			<a href="images/gallery/img0033.jpg"><img src="images/gallery/img0033_thumb.jpg"></a>
			<a href="images/gallery/img0034.jpg"><img src="images/gallery/img0034_thumb.jpg"></a>
			<a href="images/gallery/img0035.jpg"><img src="images/gallery/img0035_thumb.jpg"></a>
			<a href="images/gallery/img0036.jpg"><img src="images/gallery/img0036_thumb.jpg"></a>
			<a href="images/gallery/img0037.jpg"><img src="images/gallery/img0037_thumb.jpg"></a>
			<a href="images/gallery/img0038.jpg"><img src="images/gallery/img0038_thumb.jpg"></a>
			<a href="images/gallery/img0039.jpg"><img src="images/gallery/img0039_thumb.jpg"></a>
			<a href="images/gallery/img0040.jpg"><img src="images/gallery/img0040_thumb.jpg"></a>
			<a href="images/gallery/img0041.jpg"><img src="images/gallery/img0041_thumb.jpg"></a>
			<a href="images/gallery/img0042.jpg"><img src="images/gallery/img0042_thumb.jpg"></a>
			<a href="images/gallery/img0043.jpg"><img src="images/gallery/img0043_thumb.jpg"></a>
			<a href="images/gallery/img0044.jpg"><img src="images/gallery/img0044_thumb.jpg"></a>
			<a href="images/gallery/img0045.jpg"><img src="images/gallery/img0045_thumb.jpg"></a>
			<a href="images/gallery/img0046.jpg"><img src="images/gallery/img0046_thumb.jpg"></a>
			<a href="images/gallery/img0047.jpg"><img src="images/gallery/img0047_thumb.jpg"></a>
			<a href="images/gallery/img0048.jpg"><img src="images/gallery/img0048_thumb.jpg"></a>
			<a href="images/gallery/img0049.jpg"><img src="images/gallery/img0049_thumb.jpg"></a>
			<a href="images/gallery/img0050.jpg"><img src="images/gallery/img0050_thumb.jpg"></a>
			<a href="images/gallery/img0051.jpg"><img src="images/gallery/img0051_thumb.jpg"></a>
			<a href="images/gallery/img0052.jpg"><img src="images/gallery/img0052_thumb.jpg"></a>
			<a href="images/gallery/img0053.jpg"><img src="images/gallery/img0053_thumb.jpg"></a>
			<a href="images/gallery/img0054.jpg"><img src="images/gallery/img0054_thumb.jpg"></a>
			<a href="images/gallery/img0055.jpg"><img src="images/gallery/img0055_thumb.jpg"></a>
			<a href="images/gallery/img0056.jpg"><img src="images/gallery/img0056_thumb.jpg"></a>
			<a href="images/gallery/img0057.jpg"><img src="images/gallery/img0057_thumb.jpg"></a>
			<a href="images/gallery/img0058.jpg"><img src="images/gallery/img0058_thumb.jpg"></a>
			<a href="images/gallery/img0059.jpg"><img src="images/gallery/img0059_thumb.jpg"></a>
			<a href="images/gallery/img0060.jpg"><img src="images/gallery/img0060_thumb.jpg"></a>
			<a href="images/gallery/img0061.jpg"><img src="images/gallery/img0061_thumb.jpg"></a>
			<a href="images/gallery/img0062.jpg"><img src="images/gallery/img0062_thumb.jpg"></a>
			<a href="images/gallery/img0063.jpg"><img src="images/gallery/img0063_thumb.jpg"></a>
			<a href="images/gallery/img0064.jpg"><img src="images/gallery/img0064_thumb.jpg"></a>
			<a href="images/gallery/img0065.jpg"><img src="images/gallery/img0065_thumb.jpg"></a>
			<a href="images/gallery/img0066.jpg"><img src="images/gallery/img0066_thumb.jpg"></a>
			<a href="images/gallery/img0067.jpg"><img src="images/gallery/img0067_thumb.jpg"></a>
			<a href="images/gallery/img0068.jpg"><img src="images/gallery/img0068_thumb.jpg"></a>
			<a href="images/gallery/img0069.jpg"><img src="images/gallery/img0069_thumb.jpg"></a>
			<a href="images/gallery/img0070.jpg"><img src="images/gallery/img0070_thumb.jpg"></a>
			<a href="images/gallery/img0071.jpg"><img src="images/gallery/img0071_thumb.jpg"></a>
			<a href="images/gallery/img0072.jpg"><img src="images/gallery/img0072_thumb.jpg"></a>
			<a href="images/gallery/img0073.jpg"><img src="images/gallery/img0073_thumb.jpg"></a>
			<a href="images/gallery/img0074.jpg"><img src="images/gallery/img0074_thumb.jpg"></a>
			<a href="images/gallery/img0075.jpg"><img src="images/gallery/img0075_thumb.jpg"></a>
			<a href="images/gallery/img0076.jpg"><img src="images/gallery/img0076_thumb.jpg"></a>
			<a href="images/gallery/img0077.jpg"><img src="images/gallery/img0077_thumb.jpg"></a>
			<a href="images/gallery/img0078.jpg"><img src="images/gallery/img0078_thumb.jpg"></a>
			<a href="images/gallery/img0079.jpg"><img src="images/gallery/img0079_thumb.jpg"></a>
			<a href="images/gallery/img0080.jpg"><img src="images/gallery/img0080_thumb.jpg"></a>
			<a href="images/gallery/img0081.jpg"><img src="images/gallery/img0081_thumb.jpg"></a>
			<a href="images/gallery/img0082.jpg"><img src="images/gallery/img0082_thumb.jpg"></a>
			<a href="images/gallery/img0083.jpg"><img src="images/gallery/img0083_thumb.jpg"></a>
			<a href="images/gallery/img0084.jpg"><img src="images/gallery/img0084_thumb.jpg"></a>
			<a href="images/gallery/img0085.jpg"><img src="images/gallery/img0085_thumb.jpg"></a>
			<a href="images/gallery/img0086.jpg"><img src="images/gallery/img0086_thumb.jpg"></a>
			<a href="images/gallery/img0087.jpg"><img src="images/gallery/img0087_thumb.jpg"></a>
			<a href="images/gallery/img0088.jpg"><img src="images/gallery/img0088_thumb.jpg"></a>
			<a href="images/gallery/img0089.jpg"><img src="images/gallery/img0089_thumb.jpg"></a>
			<a href="images/gallery/img0090.jpg"><img src="images/gallery/img0090_thumb.jpg"></a>
			<a href="images/gallery/img0091.jpg"><img src="images/gallery/img0091_thumb.jpg"></a>
			<a href="images/gallery/img0092.jpg"><img src="images/gallery/img0092_thumb.jpg"></a>
			<a href="images/gallery/img0093.jpg"><img src="images/gallery/img0093_thumb.jpg"></a>
			<a href="images/gallery/img0094.jpg"><img src="images/gallery/img0094_thumb.jpg"></a>
			<a href="images/gallery/img0095.jpg"><img src="images/gallery/img0095_thumb.jpg"></a>
			<a href="images/gallery/img0096.jpg"><img src="images/gallery/img0096_thumb.jpg"></a>
			<a href="images/gallery/img0097.jpg"><img src="images/gallery/img0097_thumb.jpg"></a>
			<a href="images/gallery/img0098.jpg"><img src="images/gallery/img0098_thumb.jpg"></a>
			<a href="images/gallery/img0099.jpg"><img src="images/gallery/img0099_thumb.jpg"></a>
			<a href="images/gallery/img0100.jpg"><img src="images/gallery/img0100_thumb.jpg"></a>
			<a href="images/gallery/img0101.jpg"><img src="images/gallery/img0101_thumb.jpg"></a>
			<a href="images/gallery/img0102.jpg"><img src="images/gallery/img0102_thumb.jpg"></a>
			<a href="images/gallery/img0103.jpg"><img src="images/gallery/img0103_thumb.jpg"></a>
			<a href="images/gallery/img0104.jpg"><img src="images/gallery/img0104_thumb.jpg"></a>
			<a href="images/gallery/img0105.jpg"><img src="images/gallery/img0105_thumb.jpg"></a>
			<a href="images/gallery/img0106.jpg"><img src="images/gallery/img0106_thumb.jpg"></a>
			<a href="images/gallery/img0107.jpg"><img src="images/gallery/img0107_thumb.jpg"></a>
			<a href="images/gallery/img0108.jpg"><img src="images/gallery/img0108_thumb.jpg"></a>
			<a href="images/gallery/img0109.jpg"><img src="images/gallery/img0109_thumb.jpg"></a>
			<a href="images/gallery/img0110.jpg"><img src="images/gallery/img0110_thumb.jpg"></a>
			<a href="images/gallery/img0111.jpg"><img src="images/gallery/img0111_thumb.jpg"></a>
			<a href="images/gallery/img0112.jpg"><img src="images/gallery/img0112_thumb.jpg"></a>
			<a href="images/gallery/img0113.jpg"><img src="images/gallery/img0113_thumb.jpg"></a>
			<a href="images/gallery/img0114.jpg"><img src="images/gallery/img0114_thumb.jpg"></a>
			<a href="images/gallery/img0115.jpg"><img src="images/gallery/img0115_thumb.jpg"></a>
			<a href="images/gallery/img0116.jpg"><img src="images/gallery/img0116_thumb.jpg"></a>
			<a href="images/gallery/img0117.jpg"><img src="images/gallery/img0117_thumb.jpg"></a>
			<a href="images/gallery/img0118.jpg"><img src="images/gallery/img0118_thumb.jpg"></a>
			<a href="images/gallery/img0119.jpg"><img src="images/gallery/img0119_thumb.jpg"></a>
			<a href="images/gallery/img0120.jpg"><img src="images/gallery/img0120_thumb.jpg"></a>
			<a href="images/gallery/img0121.jpg"><img src="images/gallery/img0121_thumb.jpg"></a>
			<a href="images/gallery/img0122.jpg"><img src="images/gallery/img0122_thumb.jpg"></a>
			<a href="images/gallery/img0123.jpg"><img src="images/gallery/img0123_thumb.jpg"></a>
			<a href="images/gallery/img0124.jpg"><img src="images/gallery/img0124_thumb.jpg"></a>
			<a href="images/gallery/img0125.jpg"><img src="images/gallery/img0125_thumb.jpg"></a>
			<a href="images/gallery/img0126.jpg"><img src="images/gallery/img0126_thumb.jpg"></a>
			<a href="images/gallery/img0127.jpg"><img src="images/gallery/img0127_thumb.jpg"></a>
			<a href="images/gallery/img0128.jpg"><img src="images/gallery/img0128_thumb.jpg"></a>
			<a href="images/gallery/img0129.jpg"><img src="images/gallery/img0129_thumb.jpg"></a>
			<a href="images/gallery/img0130.jpg"><img src="images/gallery/img0130_thumb.jpg"></a>
			<a href="images/gallery/img0131.jpg"><img src="images/gallery/img0131_thumb.jpg"></a>
			<a href="images/gallery/img0132.jpg"><img src="images/gallery/img0132_thumb.jpg"></a>
			<a href="images/gallery/img0133.jpg"><img src="images/gallery/img0133_thumb.jpg"></a>
			<a href="images/gallery/img0134.jpg"><img src="images/gallery/img0134_thumb.jpg"></a>
			<a href="images/gallery/img0135.jpg"><img src="images/gallery/img0135_thumb.jpg"></a>
			<a href="images/gallery/img0136.jpg"><img src="images/gallery/img0136_thumb.jpg"></a>
			<a href="images/gallery/img0137.jpg"><img src="images/gallery/img0137_thumb.jpg"></a>
			<a href="images/gallery/img0138.jpg"><img src="images/gallery/img0138_thumb.jpg"></a>
			<a href="images/gallery/img0139.jpg"><img src="images/gallery/img0139_thumb.jpg"></a>
			<a href="images/gallery/img0140.jpg"><img src="images/gallery/img0140_thumb.jpg"></a>
			<a href="images/gallery/img0141.jpg"><img src="images/gallery/img0141_thumb.jpg"></a>
			<a href="images/gallery/img0142.jpg"><img src="images/gallery/img0142_thumb.jpg"></a>
			<a href="images/gallery/img0143.jpg"><img src="images/gallery/img0143_thumb.jpg"></a>
			<a href="images/gallery/img0144.jpg"><img src="images/gallery/img0144_thumb.jpg"></a>
			<a href="images/gallery/img0145.jpg"><img src="images/gallery/img0145_thumb.jpg"></a>
			<a href="images/gallery/img0146.jpg"><img src="images/gallery/img0146_thumb.jpg"></a>
			<a href="images/gallery/img0147.jpg"><img src="images/gallery/img0147_thumb.jpg"></a>
			<a href="images/gallery/img0148.jpg"><img src="images/gallery/img0148_thumb.jpg"></a>
			<a href="images/gallery/img0149.jpg"><img src="images/gallery/img0149_thumb.jpg"></a>
			<a href="images/gallery/img0150.jpg"><img src="images/gallery/img0150_thumb.jpg"></a>
			<a href="images/gallery/img0151.jpg"><img src="images/gallery/img0151_thumb.jpg"></a>
		</div>
	</div>

</div>