<div class="row">
	<div class="col-sm-8 offset-sm-2">
		<div class="row mainContent">
			<div class="col">
				<h1>
					Velkommen til Classic Race Aarhus.
				</h1>
				<p>
					I forbindelse med Classic Race Aarhus lancerer Mercedes-Benz den ny Sprinter. 
					<br>
					I løbet af lørdag d. 26. og søndag d. 27. maj kan du opleve race af højeste kvalitet samtidig med at du kan være med til Danmarkspremieren på den ny Sprinter.
				</p>

				<p>
					<a href="http://craa.dk/info" target="_blank">
						Se det officielle raceprogram her.
					</a>
				</p>

				<p>
					<a href="http://craa.dk/aktiviteter" target="_blank">
						Læs mere om de officielle Classic Race Aarhus aktiviteter her. 
					</a>
				</p>

				<h1>
					Besøg Mercedes-Benz VIP-lounge. 
				</h1>
				<p>
					I Mercedes-Benz VIP-lounge vil du hele dagen kunne forsyne dig med is, pølser & brød fra madteltet samt kaffe, fadøl, vand og sodavand fra baren.  
				</p>

				<p>

					Fra Mercedes-Benz helt egen VIP-tribune kan du nyde de forskellige heats, og i vores lounge område kan du tage et velfortjent hvil. I området foran VIP-loungen vil det være muligt at se og opleve vores range af varebiler, og lade dine børn hygge sig i børneområdet, hvor de kan tegne og male. 
				</p>
				<p>

					Vi glæder os til vi ses!
				</p>
				<p>
					<a href="#!/program" ng-click="selectPage('program');">
					Se her</a>, hvad der kommer til at foregå, hvornår i løbet af de to dage.
				</p>

				<br>

				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/271140893" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>